@mixin font-text{
  font-family: "Noto Sans", serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color:#c5eff7;
  padding: 2rem 0rem;
}
html{
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2833;
  height: 100vh;
}

.baker-wrapper{
  max-width: 1200px;
  margin-inline: auto;
}
  .bakery-section{
    display: grid;
    grid-template-columns: auto auto auto;   
    justify-items: center;
    align-items: center;
    margin: 0rem 2rem;
    gap: 2rem;
    opacity: 1; 
    border: 0.1rem solid #c5eff7;
    border-radius: 1rem;
    padding: 2rem;
    transform: translateY(30px); 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
    max-height: 100vh;
  
    /* Class that will trigger the animation */
  .bakery-section.visible {
    opacity: 0; /* Fade in */
    transform: translateY(0); /* Move to original position */
  }
  
    h1{
      @include font-text;
    }
  
    img{
      width: 100%;
      max-width: 30rem;  /* Prevents the image from exceeding its original width */
      height: auto; 
      border-radius: 1rem
    }
    p{
      @include font-text;
       font-size: 1.2rem;  
    }
  }


@media only screen and (max-width: 765px){

  .bakery-section{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    gap: 2rem;
    border: none;
    opacity: 1; /* Start hidden */
    transform: translateY(30px); /* Start slightly below the normal position */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
    max-height: 100vh;
    /* Class that will trigger the animation */
  .bakery-section.visible {
    opacity: 0; /* Fade in */
    transform: translateY(0); /* Move to original position */
  }
  
    h1{
      @include font-text;
    }
  
    img{
      width: 100%;
      max-width: 100%;  /* Prevents the image from exceeding its original width */
      height: auto; 
    }
    p{
      @include font-text;
       font-size: 100%;
       text-align: center;
       line-height: 1.3;
    }
   
  }

}
